* {
    box-sizing: border-box;
}

a {
    margin: 0;
    padding: 12px;
    border: 1px solid red;
}

.menu {
    display: flex;
    flex-direction: row;
    
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 13px;
}

.item-2 {
    margin-right: auto;
}

.item-5 {
    display: inline-block;
    height: 33px;
    width: 33px;
    background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-position: -270px -82px;
    opacity: 0.5;
}
.doodle {
    padding-top: 44px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    overflow: auto;
}